<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
          <dt>Rating</dt>
          <dd><%= render 'products/product_rating' %></dd>
        </dl>
      </div>
    </div>

  </article>

  <div>
  <h2>Reviews:</h2><br>
  
  <% if current_user %>
    <%= form_for [@product, @review] do |f| %>
      <div class="form-group">
        <%= f.label :rating %>
        <%= f.select(:rating, options_for_select(1..5))%>
      </div>

      <div class="form-group">
        <%= f.label :description %> 
        <%= f.text_field :description, class: 'form-control' %>
      </div>

      <div class="form-group actions">
        <%= f.submit %>
      </div>
    <% end %>

  <% end %>
  

  <% @reviews = Review.all %>

  <% @reviews.reverse.each do |review| %>
  <dl class="dl-horizontal">
    <% if review.product_id == @product.id %>
      <div>
        <dt><h3><%= review.user.first_name %></h3></dt><dd></dd>
        <dt>Rating: </dt><dd><%= review.rating %></dd>
        <% if review.description != '' %>
          <dt>Description:</dt> <dd><%= review.description %></dd>
          <% if current_user %>
            <% if current_user.id == review.user_id %>
                <dt>Delete?</dt>
                <dd><%= link_to "", [@product, review], 
                :method => :delete, class: "fa fa-trash" %></dd>
            <% end %>
          <% end %>
        <% end %>
        <dt>Created at:</dt>
        <dd><%= review.created_at.to_time %>
      </div>
      
    <% end %>
  </dl>
  <% end %>

</section>
